<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sistema de Tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Samsung_Internet_logo.svg/512px-Samsung_Internet_logo.svg.png" alt="Logo" style="max-width: 100px; height: 40px; border-radius: 50%">
                FAST INTERNET
            </a>

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="comprasDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="comprasDropdown">
                            <li>@Html.ActionLink("Creacion", "Agregar", "Cliente", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li>@Html.ActionLink("Listado", "Index", "Cliente", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="dropdown-divider"></li> <!-- Agregar un separador entre las opciones existentes y las nuevas -->
                            <li>@Html.ActionLink("Reporte del Mes", "Index", "Reporte", new { area = "" }, new { @class = "dropdown-item" })</li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Tickets", "Buscar", "Tickets", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    @if (Session["uid"] != null)
                    {
                        <li>@Html.ActionLink("Panel de control", "Index", "PanelDeControl", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (Session["uid"] != null)
                    {
                        <li>@Html.ActionLink("Cerrar sesión", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>

        </div>
    </nav>
    <div class="container body-content">
        @{
            var errorMessage = TempData["ErrorMessage"]?.ToString();
            var successMessage = TempData["SuccessMessage"]?.ToString();
        }
        @if (!string.IsNullOrWhiteSpace(successMessage))
        {
            <div class="alert alert-success mt-2">
                @successMessage
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            <div class="alert alert-danger mt-2">
                @errorMessage
                <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/Scripts/scripts.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
