@model Ticket.Models.Ticket
<h2 style="text-align: center; margin-top: 80px; color: #007bff;">Atención de Ticket</h2>
<div class="container1">
    <h3 style="color: #007bff; text-align: center;">Información del Cliente</h3>
    <dl style="display: grid; grid-template-columns: auto 1fr; grid-gap: 10px;">
        <dt style="font-weight: bold; margin-left: 100px;">@Html.DisplayNameFor(model => model.Cliente.Nombre)</dt>
        <dd style="margin-left: 120px;">@Model.Cliente.Nombre @Model.Cliente.Apellido</dd>
        <dt style="font-weight: bold; margin-left: 100px;">@Html.DisplayNameFor(model => model.Cliente.Telefono)</dt>
        <dd style="margin-left: 120px;">@Model.Cliente.Telefono</dd>
        <dt style="font-weight: bold; margin-left: 100px;">@Html.DisplayNameFor(model => model.Cliente.Dpi)</dt>
        <dd style="margin-left: 120px;">@Model.Cliente.Dpi</dd>
        <dt style="font-weight: bold; margin-left: 100px;">@Html.DisplayNameFor(model => model.Cliente.TipoGenero.Genero)</dt>
        <dd style="margin-left: 120px;">@Model.Cliente.TipoGenero.Genero</dd>
        <dt style="font-weight: bold; margin-left: 100px;">@Html.DisplayNameFor(model => model.Proceso.Descripcion)</dt>
        <dd style="margin-left: 120px;">@Model.Proceso.Descripcion</dd>
    </dl>
    @using (Html.BeginForm("AtenderTicket", "PanelDeControl", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input name="Id" type="number" value="@Model.Id" hidden />
        <input name="ClienteId" type="number" value="@Model.ClienteId" hidden />
        <input name="Fecha" type="date" value="@Model.Fecha" hidden />
        <input name="ProcesoId" type="number" value="@Model.ProcesoId" hidden />
        <textarea name="Nota" class="form-control" required></textarea>
        <button type="submit" class="btn btn-primary" style="margin: 20px;">Guardar</button>
    }
</div>
