@model Ticket.Models.Ticket
@{
    var cultureInfo = new System.Globalization.CultureInfo("es-Es");
}

<div class="container">
    <div class="card mt-5">
        <p class="my-0">Número de ticket:</p>
        <p class="ticket-number text-primary my-0">@Model.Id</p>
        <p class="card-message pb-0 mb-2">@Model.Cliente.Nombre @Model.Cliente.Apellido, tu solicitud fue realizada con éxito.</p>
        <p class="my-0 py-0 fs-6">Fecha de emisión:</p>
        <p class="pt-0 mt-0 fs-6">@Model.Fecha.ToString("d 'de' MMMM 'de' yyyy, h:mm tt", cultureInfo)</p>
        <p class="parrafo"> ¿Deseas imprimir tu comprobante?</p>
        <div class="btn-group">
            <a href="@Url.Action("Buscar")" class="btn btn-secondary">No</a>
            <span class="mx-2"></span>
            <a href="@Url.Action("Buscar")" class="btn btn-primary ">Sí</a>
        </div>
    </div>
</div>

@section Styles{
    <style>
        .card {
            border-radius: 8px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
            font-size: 1.25rem;
        }

        .ticket-number {
            font-size: 4rem;
            font-weight: 500;
        }

        .card-title {
            font-size: 30px;
            margin-bottom: 20px;
            color: #007bff;
        }

        .parrafo {
            font-size: 1.25rem;
        }

        .card-message {
            font-size: 1.25rem;
            margin-bottom: 30px;
        }
    </style>
}